{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<div class="container text-center">
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Articulo</th>
        <th scope="col">Precio</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for x in menulist  %}
    <tr>
      <th scope="row">{{ x.id }}</th>
      <td>{{ x.name }}</td>
      <td>{{ x.price }}</td>
      <td class="text-end  col-1"><a class="btn btn-dark" href="{% url 'update_item' x.id %}">Update</a></td>
      <td class="text-end  col-1"><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
        Delete
      </button>
      <!-- Modal -->


      <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this item?</p>
            </div>
            <div class="modal-footer">
              <form action="{% url 'delete_item' x.pk %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  

<a class="btn btn-dark overflow-button" href="{% url 'new_item' %}">New
  <i class="bi bi-plus"></i>
</a>


</div>

{% endblock %}